<div class="main-form" style="margin: auto; margin-top: 5vh;">
  <h1>Detalles de operación</h1>
  <mat-card>
    <mat-card-title>Información</mat-card-title>
    <form>
      <mat-form-field class="full-width" style="margin-top: 16px">
        <mat-label>Identificador de operación</mat-label>
        <input
          matInput
          readonly
          style="font-family: Consolas, 'Courier New', Courier, monospace"
          value="00000000-0000-0000-0000-000000000000"
        />
      </mat-form-field>

      <mat-form-field class="full-width" style="margin-top: 0px">
        <mat-label>Creación</mat-label>
        <input
          matInput
          readonly
          style="font-family: Consolas, 'Courier New', Courier, monospace"
          value="00000000-0000-0000-0000-000000000000"
        />
      </mat-form-field>
      <h3>Filtros</h3> 
    </form>
  </mat-card>

  <mat-card style="margin-top: 16px;">
    <mat-card-title>Lote original</mat-card-title>
    <!-- <mat-card-subtitle>{{}}</mat-card-subtitle> -->
  </mat-card>
</div>
