<div style="margin-left: 10vw; margin-right: 10vw;padding-top: 5vh;">
  <h1>Crear operación</h1>
  <p>
    Para crear una operación, seleccione a continuación los filtros que desea
    aplicar, y posteriormente agregue las imágenes a procesar.
  </p>
<h2>Descripción</h2>
<!-- <mat-form-field class="example-full-width">
  <mat-label>Introdúzca una descripción del lote de imágenes</mat-label>
  <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
</mat-form-field> -->

  <h2>Filtros</h2>
  <p>Seleccione los filtros que desea aplicar a sus imágenes.</p>
  <div style="display: flex; flex-direction: column">
    <mat-checkbox>BLUR</mat-checkbox>
    <mat-checkbox>CONTOUR</mat-checkbox>
    <mat-checkbox>DETAIL</mat-checkbox>
    <mat-checkbox>EDGE ENHANCE</mat-checkbox>
    <mat-checkbox>EDGE ENHANCE + </mat-checkbox>
    <mat-checkbox>EMBOS</mat-checkbox>
    <mat-checkbox>FIND EDGES</mat-checkbox>
    <mat-checkbox>SHARPEN</mat-checkbox>
    <mat-checkbox>SMOOTH</mat-checkbox>
    <mat-checkbox>SMOOTH + </mat-checkbox>
  </div>

  <h2>Imágenes</h2>
  <p>Seleccione las imágenes:</p>

  <button mat-flat-button color="accent">Crear</button>
</div>
